server:
  port: 8080

spring:
  application:
    name: customers

  # H2 Database Connection Properties
  datasource:
    url: jdbc:h2:mem:mydb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      #path: /h2-console
  # JPA Properties (Optional, to see SQL queries in the console)
  jpa:
    show-sql: true
    hibernate.ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect

